@charset 'utf8';
.simulation-select {
    margin: 0 auto;
    display: inline-block;
    font-family: "Microsoft Yahei";
    position: relative;
    user-select: none;
}
.simulation-select ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.simulation-select::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 11px;
    border: 5px solid ;
    border-color: currentColor transparent transparent transparent;
    width: 0;
    height: 0;
}
.simulation-select input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    font-family: "Microsoft Yahei";
    padding: 4px 26px 4px 6px;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-user-select: none;
}
.simulation-select input:focus {
    border-color: #599df2;
}
.simulation-select ul {
    display: none;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 28px;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 4px;
    border: 1px solid #599df2;
}
.simulation-select ul li {
    padding: 2px 4px;
}
.simulation-select ul li:hover {
    background-color: #599df2;
    color: #fff;
}